<%- include("partials/header"); -%> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" >
    <br>
    <label for="Post">Post</label>
    <input type="text" name="post" id="">
</form>
<%- include("partials/footer"); -%> 